/* * {
    border: 1px solid red;
} */

a {
    color: #333
}

.RouteCard {    
    padding: 20px;
    background-color: rgb(242, 242, 242);
    box-shadow: 10px 10px 20px rgb(113, 113, 113);
    margin: 50px;
    width: 60vw;
    display: flex;
    justify-content: center;
}

.imgDiv {
    padding-right: 20px;
}

.imageBox {
    width: 400px;
    height: 300px;
} 
.routeInfo {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}