.ImageCardBox {
    padding: 20px;
    background-color: rgb(242, 242, 242);
    box-shadow: 10px 10px 20px rgb(113, 113, 113);
    margin: 10px auto;
    width: 440px;
    border-radius: 4px;
}

.InfoCardBox {
    font-family: 'Permanent Marker', sans-serif;
    padding: 40px 20px;
    background-color: rgb(242, 242, 242);
    box-shadow: 10px 10px 20px rgb(113, 113, 113);
    margin: 50px auto;
    width: 440px;
    height: 440px;
    border-radius: 4px;
}

.CardImage {
    margin: auto;
    width: 400px;
    height: 400px;
    padding: 20px;
    object-fit: cover;
}

.content {
    background-color: rgb(230, 229, 229);
    margin: 0px;
    padding-bottom: 2px;
}

.content h1, .content h2, .content h3 {
    margin: 5px 0;
}

.updateDiv {
    display: flex;
    justify-content: end;
    padding-top: 10px;
}

.UpdateLink {
    color:black;
}