a {
    text-decoration: none;
    
}

nav {
    background-color: #222;
    height: 8vh;
    width: 98%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    
}

nav div {
    color: white;
}

.logo {
    width: 40%;
    font-size: 3vw;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}



.menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

ul  {
    display: flex;
    align-items: center;
    text-decoration: none;
}

ul a {
    color: white;
}

li {
    display: flex;
    padding: 10px;
    font-weight: 500;
}

.btn-cadastrar {
    background-color: #222;
    color: white;
    border: 2px solid white;
    border-radius: 10px;    
}

.btn-cadastrar {
    color: white;
    font-weight: 600;
    padding: 0px 15px;
    width: 150px;
    height: 100%;
}

.btn-cadastrar:hover {
    cursor: pointer;
}

.logo a {
    color: white;
}