.footer {
    background-color: #222;
    color: white;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Github {
    
    display: flex;
    padding: 10px;
    
}

.Github a {
    margin: 0 5px;
}

.react-icons {
    font-size: 10em;
  }